<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3 border shadow p-3">
            <h3 class="text-center text-info">{{btnTxt ? 'Sign Up ':'Log in '}} via Firebase</h3>
            <!-- <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div> -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <label class="sr-only" for="inlineFormInputGroup">E-mail</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                    </div>
                    <input type="text" class="form-control" formControlName="email" placeholder="E-mail">
                </div>
                <small class="text-danger ml-5" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">Email Required</small>
                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-lock"></i></div>
                    </div>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                </div>
                <small class="text-danger ml-5" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                  Password Required
                </small>
                <div class="form-group text-right mt-3">
                    <button type="submit" class="btn btn-sm btn-primary">{{btnTxt ? 'Sign Up ':'Log in '}} <span *ngIf="loader" class="spinner-border " role="status"></span></button>
                    <button type="button" class="btn btn-sm btn-success ml-3" (click)="changeBtnText()">Switch to {{btnTxt ? 'Log in ':'Sign Up'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>